<div class="container">
  <%# <h2 class="session_Title">コメント</h2> %>
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    <%= form_with(model: @comment, url: board_comment_path(@board, @comment), method: 'put', local: true) do |f| %>
      <div>
        <%= f.label :content, 'コメント', class:'text'%>
      </div>

      <div>
        <%= f.text_area :content %>
        <%= f.submit :'Submit', class: 'btn-primary' %>
      </div>
    <% end %>
  </ul>
</div>