<%= link_to board_path(board) do %>
  <div class="board">
    <div class="board_content">
      <div class="board_title">
        <%= board.title %>
      </div>
      <div class="board_content">
        <%= truncate(board.content, length:30) %>
      </div>
    </div>
    <div class="card_details_user_image">
      <% if board.user.present? && board.user.profile&.avatar&.attached? %>
      <%= image_tag board.user.profile.avatar %>
      <% else %>
      <%= image_tag 'login_avatar.svg' %>
      <% end %>
      <%# <%= image_tag article.user.avatar_image %>
    </div>
  </div>
<% end %>