<!DOCTYPE html>
<html>

<head>
  <title>ToDoApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta content="width=device-width,initial-scale=1" name="viewport" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- jQueryのライブラリー本体を読み込む -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <!-- 必ずjQuery本体を読み込んだ後にjQueryで書いたファイルを読み込む-->
  <script src="js/practice.js"></script>

  <!-------------- ナビのトグル ------------------>
  <!--- リストがホバーすると浮き出る --->
  <script>
    $(document).ready(function () {
    // #toggleの要素にマウスを乗せた時の処理
        $('#toggle').click(function () {
      var $toggleList = $('.toggle-list');
      if ($toggleList.css('display') === 'none') {
        $toggleList.stop().css({
          display: 'block',
          top: '30px',
          right: '0px',
          opacity: '1'
        });
      } else {
        $toggleList.stop().css({
          display: 'none',
          top: '0px',
          opacity: '0'
        });
      }
    });
    // ヘッダーアバター
    $('#toggle2').click(function () {
      var $toggleList = $('.header-toggle-list');
      if ($toggleList.css('display') === 'none') {
        $toggleList.stop().css({
          display: 'block',
          top: '50px',
          right: '0px',
          opacity: '1'
        });
      } else {
        $toggleList.stop().css({
          display: 'none',
          top: '0px',
          opacity: '0'
        });
      }
    });
  });
  </script>

</head>

<body>
  <header class="header">
    <%= link_to 'Boards', boards_path, data: { method: 'get' }, class: "header_pageTitle" %>
      <%if user_signed_in? %>
      <div class="header_dropdown" id="toggle2">
        <div class="header_details_user_image">
          <% if current_user.profile&.avatar&.attached? %>
            <%= image_tag current_user.profile.avatar, class: 'header_avatar_dropbtn' %>
          <% else %>
            <%= image_tag 'login_avatar.png', class: 'header_avatar_dropbtn'%>
          <% end %>
        <ul class="header-toggle-list mini">
          <li class="header-toggle-subtitle">
            <%= link_to 'プロフィール', profile_path %>
          </li>
          <li class="header-toggle-subtitle">
            <%= link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' } %>
          </li>
        </ul>
        </div>
      </div>
      <% else %>
      <div class="login">
        <%= link_to 'ログイン', new_user_session_path, class: 'header_loginBtn' %>
      </div>
      <div class="register">
        <%= link_to '会員登録', new_user_registration_path, class: 'header_loginBtn' %>
      </div>
      <% end %>
    </div>
  </header>

  <%= yield %>
</body>

</html>